# Python
__pycache__/
*.py[cod]
*.class
.venv/
*.log

# Environment
.env
.venv
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo

# Large model files
*.model
*.weights

# Logs and databases
*.sqlite3
logs/

# Dependency directories
node_modules/
jspm_packages/

# Jupyter Notebook
.ipynb_checkpoints

# Monitoring and logging
*.log.*
